/* ===== Global Styles ===== */
body {
  font-family: arial;
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 0;
}

.checkout-page {
  max-width: 1200px;
  margin: 50px auto;
  padding: 0 20px;
}

.checkout-page h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 40px;
}

.checkout-container {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
}

.checkout-form {
  flex: 1 1 450px;
  background-color: #1e1e1e;
  padding: 30px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  transition: transform 0.3s ease;
}

.checkout-form:hover {
  transform: translateY(-2px);
}

.checkout-form h2 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: #fff;
}

.checkout-form label {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  color: #ccc;
  font-size: 1rem;
}

.checkout-form input {
  padding: 12px 15px;
  border: 1px solid #333;
  border-radius: 8px;
  margin-top: 5px;
  font-size: 1rem;
  background-color: #2a2a2a;
  color: #e0e0e0;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.checkout-form input:focus {
  border-color: #ff6600;
  box-shadow: 0 0 5px #ff6600;
  outline: none;
}

.input-error {
  border-color: #ff0000;
}

.error-msg {
  color: #ff0000;
  font-size: 1rem;
  margin-top: 5px;
}

.order-summary {
  flex: 1 1 350px;
  background-color: #1e1e1e;
  padding: 30px;
  border-radius: 12px;
  height: fit-content;
  transition: transform 0.3s ease;
}

.order-summary:hover {
  transform: translateY(-2px);
}

.order-summary h2 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: #fff;
}

.order-summary ul {
  list-style: none;
  padding: 0;
  margin-bottom: 25px;
  border-bottom: 1px solid #333;
}

.order-summary li {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  font-weight: 500;
  border-bottom: 1px dashed #444;
}

.order-summary li:last-child {
  border-bottom: none;
}

.order-summary h3 {
  text-align: right;
  font-size: 1.4rem;
  margin-bottom: 20px;
  color: #fff;
}

.btn-place-order {
  width: 100%;
  padding: 15px 0;
  background-color:#ff6600;
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0px 15px #000;
}

.btn-place-order:hover {
  background-color: #008000;
  transform: translateY(-2px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
}

.price {
  color: #ff6600;
  font-weight:800;
  font-size: 20px;
}

@media (max-width: 1024px) {
  .checkout-container {
    gap: 30px;
  }
}

@media (max-width: 768px) {
  .checkout-container {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .checkout-form,
  .order-summary {
    padding: 20px;
  }
}
