
.body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#fff;
  font-family:arial;
}

.auth {
  margin: 3rem auto;
  width: fit-content;
  height: fit-content;
  max-width: 30rem;
  border: 2px solid #ff6600;
  border-radius: 10px;
  background-color: #000;
  padding: 2rem;
  text-align: center;
  color: #fff;
}
.auth:hover{
  background-color:#fff;
  box-shadow: 0px 0px 1000px #ff6600;
}

.auth h1 {
  text-align: center;
  color: #ff6600;
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.control {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.control label {
  color: #ff6600;
  margin-top: 0.5rem;
  margin-right: 1rem;
  font-size: 1.1rem;
  font-weight: 500;
  min-width: 80px;
  text-align: left;
}

.control input {
  font: inherit;
  color: #000;
  background-color: #fff;
  font-size: 1.1rem;
  border-radius: 4px;
  border: 2px solid #ff6600;
  width: 100%;
  text-align: left;
  padding: 0.5rem;
  transition: border-color 0.3s, background-color 0.3s, box-shadow 0.3s;
}

.actions {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actions button {
  cursor: pointer;
  font: inherit;
  color: #ffffff;
  background-color: #ff6600;
  border: 2px solid #fff;
  border-radius: 4px;
  padding: 0.6rem 2.5rem;
  font-size: 1.1rem;
  transition: background-color 0.3s, border-color 0.3s, transform 0.1s;
}

.actions button:hover {
  background-color: #000;
  border-color: #ff6600;
}

.actions button:active {
  transform: scale(1);
}

.actions .toggle {
  margin-top: 1rem;
  background-color: transparent;
  color: #ff6600;
  border: none;
  padding: 0.15rem 1.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: color 0.3s;
}

.actions .toggle:hover {
  color: #ff6600;
}
