.cart-item td {
  padding: 0.75rem;
  text-align: center;
  border-bottom: 1px solid #333;
}

.cart-product-image img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 8px;
}

.quantity-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.quantity-buttons button {
  background: #1f1f1f;
  color: #fff;
  border: none;
  width: 28px;
  height: 28px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.quantity-buttons button:hover {
  background: black;
  transform: scale(1.1);
}

.quantity-buttons input {
  width: 50px;
  text-align: right;
  border-radius: 4px;
  border: none;
  background: #1f1f1f;
  color: #fff;
  font-size:20;
}

.btn-remove {
  border: none;
  padding: 0.3rem 0.6rem;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
  background: transparent;
  color: inherit; 
}

.btn-remove:hover {
  background: #fff;
  transform: scale(1.1);
}

.price {
  color: #ff6600;
  font-weight:800;
  font-size: 20px;
}

@media (max-width: 768px) {
  .cart-product-image img {
    width: 50px;
    height: 50px;
  }

  .quantity-buttons input {
    width: 35px;
  }
}
