.ingredient {
  background-color: #1e2227;
  border: 1px solid #2f353b; 
  border-radius: 15px;
  box-shadow: 0 0px 15px #ff6600;
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  padding: 1rem;
  font-family: arial;
  margin:5px;
}

.ingredient:hover {
  transform: translateY(-5px); 
  background-color: #ff6600;
  box-shadow:none;
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
}

.ingredient__image {
  width: 115%;
  height: 200px;
  overflow: hidden;
  border-radius: 12px;
  margin-bottom: 0.75rem;
}

.ingredient__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.5s cubic-bezier(0.5, 0, 0.2, 1); 
}

.ingredient__image:hover img {
  transform: scale(1.5); 
}


.ingredient__title h3 {
  font-size: 1.25rem;
  font-weight: 600;
  color: #f5f5f5; 
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ingredient__content .price {
  font-size: 1rem;
  font-weight: 700;
  color: #fff; 
}

.ingredient__btn {
  margin-top: 0rem;
}

.btn-white {
  background-color: #ff6600; 
  border: 2px solid #fff;
  color: #fff;
  padding: 0.5rem 1.2rem;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-white:hover {
  background-color: #ff0000; 
  color: #fff; 
  border-color: #ff6600;
}

@media (max-width: 768px) {
  .ingredient {
    padding: 0.5rem;
  }

  .ingredient__image {
    height: 200px;
  }

  .ingredient__title h3 {
    font-size: 1rem;
  }

  .ingredient__content .price {
    font-size: 0.95rem;
  }
}